@font-face {
  font-family: 'social-icons';
  src:  url('../fonts/social_icons/social-icons.eot?apnf38');
  src:  url('../fonts/social_icons/social-icons.eot?apnf38#iefix') format('embedded-opentype'),
    url('../fonts/social_icons/social-icons.ttf?apnf38') format('truetype'),
    url('../fonts/social_icons/social-icons.woff?apnf38') format('woff'),
    url('../fonts/social_icons/social-icons.svg?apnf38#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
  content: "\e92b";
}
.icon-fb:before {
  content: "\e91d";
}
.icon-twi:before {
  content: "\e929";
}
.icon-gPlus:before {
  content: "\e91e";
}
.icon-ok:before {
  content: "\e922";
}
.icon-mail:before {
  content: "\e906";
}
.icon-lj:before {
  content: "\e920";
}
.icon-lin:before {
  content: "\e908";
}
.icon-tumblr:before {
  content: "\e909";
}
.icon-pocket:before {
  content: "\e907";
}
.icon-ya:before {
  content: "\e92c";
}
.icon-insta:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e911";
}
.icon-heart:before {
  content: "\e90d";
}

